log_level 4
log_file /var/log/munin-node/munin-node.log
pid_file /var/run/munin/munin-node.pid

background 1
setsid 1

user root
group root

ignore_file [\#~]$
ignore_file DEADJOE$
ignore_file \.bak$
ignore_file %$
ignore_file \.dpkg-(tmp|new|old|dist)$
ignore_file \.rpm(save|new|orig)$
ignore_file \.pod$

host *
port 4949

# Rely on security groups
cidr_allow ::/0
cidr_allow 0.0.0.0/0

host_name {{ inventory_hostname }}

tls paranoid
tls_verify_certificate yes
tls_verify_depth 5
tls_certificate {{ munin_conf_dir }}/{{ alias }}_cert.pem
tls_private_key {{ munin_conf_dir }}/{{ alias }}_key.pem
tls_ca_certificate {{ munin_conf_dir }}/rootcert.pem

# authZ
tls_match CN=({{ groups["munin_master"] | join('|') }})
