tls_verify_certificate yes
tls_ca_certificate {{ munin_conf_dir }}/rootcert.pem
tls_private_key {{ munin_conf_dir }}/{{ alias }}_key.pem
tls_certificate {{ munin_conf_dir }}/{{ alias }}_cert.pem

{% if enable_monitor_masters is defined and enable_monitor_masters %}
{% for host in groups['munin_master'] %}
[Masters;{{ hostvars[host]['inventory_hostname'] }}]
    # {{ hostvars[host]['alias'] }}
    address {{ hostvars[host]['inventory_hostname'] }}
    tls paranoid

{% endfor %}
{% endif %}
{% for host in groups['munin_node'] %}
[Nodes;{{ hostvars[host]['inventory_hostname'] }}]
    # {{ hostvars[host]['alias'] }}
    address {{ hostvars[host]['inventory_hostname'] }}
    tls paranoid

{% endfor %}
